##################################
# OS-specific
##################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
.claude/
**/CLAUDE.md
**/__venv

# =========================
# Terraform
# =========================
.terraform/
**/.terraform/
**/.terraform/*

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.backup
*.lock.hcl

tfplan
*.plan
*.tfplan
*.tfplan.*
