.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 10px;
    text-align: center;
    align-items: center;

    z-index: 999;
}
