:host {
    --background: rgb(255, 243, 245);
}

.window {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
    max-width: 90%;
    border: 1px solid var(--border-dark);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    align-items: center;

    z-index: 2;

    box-shadow: 5px 5px 8px #707070;

    .header {
        padding: 5px;
        height: 50px;

        color: var(--red);
        border-bottom: 1px solid var(--border-dark);
        background-color: var(--gray-light);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        font-size: 1.5em;
        font-weight: 600;
    }

    .content {
        padding: 10px;
        height: 150px;
        text-align: left;
        vertical-align: top;
        overflow: auto;

        .message {
            font-size: 1.2em;
        }

        .list {
            padding-top: 10px;
            font-size: 1.0em;
        }
    }

    .footer {
        padding: 5px;
        height: 50px;

        border-top: 1px solid var(--border-dark);
        background-color: var(--gray-light);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}