[
  {
    "name": "graph-consumer",
    "image": "${account_number}.dkr.ecr.us-west-2.amazonaws.com/${prefix}-graph-consumer-${suffix}:${source_hash}",
    "portMappings": [
      {
        "containerPort": 8080,
        "hostPort": 8080,
        "protocol": "tcp"
      }
    ],
    "environment": [
      {
        "name": "NODE_ENV",
        "value": "${node_env}"
      },
      {
        "name": "VERBOSE_LOGGING",
        "value": "true"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "us-west-2",
        "awslogs-group": "${consumer_log_group}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "healthCheck": {
      "retries": 3,
      "command": [ "CMD-SHELL", "curl -f ${health_check_host} || exit 1" ],
      "timeout": 5,
      "interval": 30
    }
  }
]
