[
  {
    "name": "neptune-poller",
    "image": "${account_number}.dkr.ecr.us-west-2.amazonaws.com/${prefix}-neptune-poller-${suffix}:${source_hash}",
    "environment": [
      {
        "name": "NODE_ENV",
        "value": "${node_env}"
      },
      {
        "name": "VERBOSE_LOGGING",
        "value": "false"
      },
      {
        "name": "NEPTUNE_CLUSTER_ENDPOINT",
        "value": "${neptune_db_cluster_endpoint}"
      }
    ],
    "secrets": [
      {
        "name": "SQS_ENABLE",
        "valueFrom": "arn:aws:ssm:us-west-2:${account_number}:parameter/${prefix}/poller-sqs-enable-${account_name}-${suffix}"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "us-west-2",
        "awslogs-group": "${poller_log_group_taskdef}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "healthCheck": {
      "retries": 3,
      "command": [ "CMD-SHELL", "curl -f ${health_check_host} || exit 1" ],
      "timeout": 5,
      "interval": 30
    }
  }
]
