.content {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;

    background-color: var(--gray-light);
    border: 1px solid var(--border-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        color: var(--red);
    }

    .detail {
        padding: 10px;
        margin-top: 15px;
        text-align: center;

        .support {
            text-decoration: underline;
            font-weight: 600;
            font-size: 1.5rem;
        }

        .retry {
            color: var(--blue);
            font-weight: normal;
            font-size: 1.0rem;
            cursor: pointer;
        }
    }
}

/******************************************************************************
*	Mobile/Tablet
******************************************************************************/
@media screen and (max-width: 750px) {
    .content {
        top: 100px;
        left: 25px;
        right: 25px;
        bottom: 100px;
    }
}
