@use "./node_modules/sdk-core-library/styles/sdk-styles.scss";
@use "/src/styles/brand";

/******************************************************************************
    Colors
******************************************************************************/
:root {
    --primary: var(--blue-dark);
    --secondary: var(--blue);

    --font: var(--gray-dark);

    --border: var(--gray-light);
    --border-dark: var(--gray-dark);
    --border-blue: var(--blue-dark);

    --background: var(--gray-light);

    .sdk-icon {
        font-size: 1.8em;
    }
}

.icon {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-variation-settings: 'FILL' 1;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-display: block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    &:hover {
        cursor: pointer;
        color: var(--blue) !important;
    }

    &.cursor {
        cursor: pointer;
    }

    &.red {
        color: var(--red);
    }

    &.blue {
        color: var(--blue);
    }

    &.green {
        color: var(--green);
    }

    &.disabled {
        color: var(--gray-light) !important;

        &:hover {
            cursor: default;
            color: var(--gray-light) !important;
        }
    }
}



/******************************************************************************
    Global
******************************************************************************/
* {
    font-family: var(--font-text);
    cursor: default;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    color: var(--font);
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}


/******************************************************************************
    Text
******************************************************************************/
h1 {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


/******************************************************************************
    Hyperlink
******************************************************************************/
a {
    cursor: pointer;
    color: var(--blue);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        opacity: 0.8;
    }
}


/******************************************************************************
    Button
******************************************************************************/
button {
    background-color: var(--secondary);
    color: white;
    border: 0.5px solid transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 600;
    line-height: inherit;
    text-transform: uppercase;
    padding: 5px 8px;
    margin: 0 5px;
    display: inline-flex;
    box-shadow: 1px 1px 2px 1px rgb(140, 140, 140);
    border-radius: 4px;

    &.text {
        background-color: transparent;
        color: var(--blue);
        border: 0;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-transform: inherit;
        padding: 0;
        margin: 0;
        display: inline-flex;
        box-shadow: none;
        border-radius: 0;

        &:hover {
            background-color: inherit;
            border: 0;
        }
    }

    &.bg {
        background-color: transparent;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-transform: inherit;
        padding: 0;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        width: 100%;

        display: flex;
        align-items: center;

        color: rgb(225, 225, 225);
        cursor: pointer;

        &:hover {
            background-color: inherit;
            border: 0;

            div {
                color: var(--blue) !important;
            }

            &.active {
                cursor: default;

                div {
                    color: var(--primary) !important;
                }
            }
        }
    }

    &.icon {
        background-color: transparent;
        color: unset;
        border: 0;
        cursor: pointer;
        font-family: 'Material Symbols Outlined', sans-serif;
        font-variation-settings: 'FILL' 1;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        font-display: block;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin: 0;
        box-shadow: none;
        border-radius: 0;

        &:hover {
            color: var(--blue) !important;
            background-color: inherit;
            border: 0;
        }
    }

    &.orange {
        background-color: var(--orange);
    }

    &.green {
        background-color: var(--green);
    }

    &.red {
        background-color: var(--red);
    }

    &.cancel {
        background-color: var(--gray);
    }

    &.delete {
        background-color: transparent;
        color: var(--red);
        width: auto;
    }

    &.small {
        padding: 4px 8px;
    }

    &.font {
        font-family: 'Courier New', Courier, monospace;
    }

    &:hover {
        background-color: white;
        color: var(--secondary);
        border: 0.5px solid var(--secondary);
    }

    &.disabled,
    :disabled {
        opacity: 0.5;
        cursor: default;
        background-color: var(--gray);

        &:hover {
            background-color: var(--gray);
            color: white;
            border: 0.5px solid transparent;
        }
    }
}

/******************************************************************************
    Table
******************************************************************************/
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    cursor: default;

    .pointer,
    .pointer * {
        cursor: pointer;
    }

    caption {
        display: none;
    }

    tr {
        th {
            font-family: var(--font-header);
            padding: 0.5rem;
            border: 0.5px solid var(--border);
            background-color: rgb(240, 240, 240);
            color: var(--blue-dark);
            text-align: left;
        }

        td {
            padding: 0.5rem;
            vertical-align: middle;
            text-align: left;
            border: 0.5px solid var(--border);
        }

        &:hover {
            background-color: rgb(228, 246, 253);
        }
    }

    thead {
        tr {
            th {
                padding: 0.5rem;
                vertical-align: middle;
                text-align: center;
                white-space: nowrap;
                font-family: var(--font-header);
                font-size: 1.1em;
                color: var(--blue-dark);
                border: 0.5px solid var(--border-dark);
                background-color: var(--gray-light)
            }

            td {
                padding: 0.5rem;
                vertical-align: middle;
                text-align: center;
                border: 0.5px solid var(--border-dark);
            }
        }
    }

    tbody {
        tr {
            th {
                font-family: var(--font-header);
                padding: 0.5rem;
                border: 0.5px solid var(--border);
                background-color: rgb(240, 240, 240);
                color: var(--blue-dark);
                text-align: left;
            }

            td {
                padding: 0.5rem;
                vertical-align: middle;
                text-align: left;
                border: 0.5px solid var(--border);
            }

            &:hover {
                background-color: rgb(228, 246, 253);
            }
        }
    }

    tfoot {
        tr {
            th {
                padding: 0.5rem;
                vertical-align: middle;
                text-align: center;
                white-space: nowrap;
                font-family: var(--font-header);
                font-size: 1.2em;
                color: var(--blue-dark);
                border: 0.5px solid var(--border-dark);
                background-color: var(--gray);
            }

            td {
                padding: 0.5rem;
                vertical-align: middle;
                text-align: center;
                border: 0.5px solid var(--border-dark);
            }
        }
    }
}


/******************************************************************************
    Custom
******************************************************************************/
.hidden {
    display: none;
}

.block {
    display: inline-block;
}

.inline {
    display: inline-flex;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.nowrap {
    white-space: nowrap;
}

.selected,
.selected * {
    color: var(--blue);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}