<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension="json" mimeType="application/json" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
        <add name="DenyOTH" verb="OPTIONS" path="*" type="System.Web.HttpMethodNotAllowedHandler" />
    </handlers>
      <httpProtocol>
          <customHeaders>
              <add name="Cache-Control" value="no-cache"/>
          </customHeaders>
      </httpProtocol>
  </system.webServer>
</configuration>
