@use "/src/styles/page";

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;

    .sections {
        position: absolute;
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 5px;

        overflow: auto;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        z-index: 1;

        .title {
            font-size: 1.5em;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .section {
            position: relative;
            padding: 10px;
            margin: 5px 0;
            padding-bottom: 0;
            border: 1px solid var(--primary);
            flex: 1;

            &:hover {
                background-color: rgb(0, 157, 217, 0.25);

                .title {
                    opacity: 0.04;
                }

                .description {
                    .icon {
                        color: var(--blue);
                    }
                }
            }

            .title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                z-index: 0;

                overflow: hidden;

                font-size: 20.0em;
                font-weight: 600;
                color: var(--primary);
                opacity: 0.03;

                padding: 0;
                margin: 0;
                line-height: 80%;
            }

            .description {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 10px;

                .icon {
                    font-size: 2.0em;
                }

                .label {
                    font-size: 1.2em;
                }
            }

            .label {
                position: relative;
                font-weight: 600;
            }

            .text {
                position: relative;
                color: var(--blue);
            }

            input::placeholder {
                color: var(--gray);
            }

            input,
            select {
                padding: 0.5rem;
                font-size: 1rem;
                width: 300px;
            }

            button {
                margin: 0;
            }

            .types {
                position: relative;
                margin-bottom: 10px;
                margin-left: 40px;
            }
        }
    }
}

.report {
    position: fixed;
    left: 10px;
    bottom: 10px;

    z-index: 9;

    .icon {
        &:hover {
            color: var(--blue);
            cursor: pointer;
        }
    }
}