:root {
    --left-padding: 50px;
}

.content {
    padding-left: var(--left-padding);

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
        position: absolute;
        left: 0;

        font-size: 2.0em;
        font-variation-settings: 'FILL' 1;
        margin: 10px;
        cursor: pointer;

        &:hover {
            color: var(--blue);
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        font-size: small;
        color: var(--primary);
        margin: auto 10px;
    }

    .copyright-mobile {
        display: none;
        color: rgb(225, 225, 225);
    }

    .logo {
        align-items: center;
    }

    .access {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 50%;
        font-size: small;
        color: var(--primary);
        margin: auto 10px;

        .notes {
            margin-left: 5px;
            cursor: pointer;

            &:hover {
                color: var(--blue);
                text-decoration: underline;
            }
        }
    }
}

/******************************************************************************
*	Mobile/Tablet
******************************************************************************/
@media screen and (max-width: 750px) {
    .content {
        display: flex;
        flex-direction: row;

        .copyright {
            display: none;
        }

        .copyright-mobile {
            display: block;
            text-align: left;
        }

        .logo {
            display: flex;
            flex-direction: row;
            padding: 10px;
        }

        .access {
            display: none;
        }
    }
}