<div class="content">
    <div class="copyright">Pacific Gas & Electric Company</div>
    <div class="logo">
        <img title="Pacific Gas & Electric Company" alt="Pacific Gas & Electric Company" src="assets/images/logo.png" height="40">
    </div>
    <div class="copyright-mobile">&copy; {{ date | date:'yyyy' }}<br/>Pacific Gas & Electric Company</div>
    <div class="access">Restricted Access | <button class="text notes" (click)="showReleaseNotes()">Version: {{ version }}</button></div>
</div>

