@use "/src/styles/page";

.component {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .header {
        position: absolute;
        top: 10px;
        right: 10px;
        left: 10px;

        height: 140px;

        .labels {
            .top {
                padding-bottom: 10px;

                display: flex;
                flex-direction: column;

                .back {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;

                    font-size: 1.0em;
                    color: var(--blue);
                    cursor: pointer;

                    div {
                        font-size: 0.8em;
                        color: var(--blue);
                        cursor: pointer;
                    }

                    div.icon {
                        font-size: 1.1em;
                    }
                }

                .title {
                    font-size: 1.5em;
                    font-weight: 600;
                }
            }

            div {
                font-size: 1.2em;
            }

            ul {
                margin: 0;
            }

            .list {
                padding-bottom: 10px;

                button {
                    font-size: 0.8em;
                    padding: 3px 5px;
                    margin: 0 3px;
                    border-radius: 2px;
                }
            }
        }
    }

    .tabs {
        position: absolute;
        top: 150px;
        right: 10px;
        left: 10px;
        bottom: 60px;

    }

    .data {
        position: absolute;
        top: 120px;
        right: 10px;
        left: 10px;
        bottom: 60px;

        .action {
            display: flex;
            justify-content: center;

            &.red {
                font-size: 0.8em;
                color: var(--red);
            }

            .icon {
                color: var(--red);
                font-size: 1.4em;
                font-variation-settings: 'FILL' 0;

                &:hover {
                    color: var(--blue);
                    cursor: pointer;
                }

                &.updated {
                    color: var(--green);
                }
            }
        }
    }

    .actions {
        position: absolute;
        right: 10px;
        left: 10px;
        bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        width: 28px;
        height: 28px;

        border: 3px solid rgba(0, 0, 0, 0.15);
        border-top-color: var(--blue);
        border-radius: 50%;

        animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}